@{
    ViewBag.Title = "Empty page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="well-sm-8">
    <div class="container recipe-container">
        <div class="row text-center text-md-left">
            <div class="col-md-12 edit-recipe-body">
               
            </div>
        </div>
    </div>
</section>

