@model IEnumerable<VictoriasFood.Models.Recipe>
@{
    ViewBag.Title = "List of recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="well-sm-2">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-12">
                <h2>List of Recipes</h2>
                @if (!Model.Any())
                {
                    <p> We don't have any Recipe yet.</p>
                }
                else
                {
                    <table class="table-bordered">
                        <thead>
                            <tr class="table-row table-header">
                                <th>The Title of the Recipe</th>
                                <th>Author of recipe</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var recipe in Model)
                            {
                                <tr class="table-row">
                                    <td>                                        
                                        @Html.ActionLink(recipe.recipeTitle, "DetailsRecipe", "Recipe", new { id = recipe.recipeID }, null)
                                    </td>
                                    <td>
                                        @recipe.Authors.authorFirstName @recipe.Authors.authorLastName
                                    </td>                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</section>

