@{@model IEnumerable<VictoriasFood.Models.Category>
    ViewBag.Title = "All Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="well-md-2 bg-default-4">
    <div class="container text-center text-sm-left">
        <h2>All categories</h2> 
        <div class="row isotope"
             data-isotope-group="gallery"
             data-isotope-layout="fitRows"
             data-lightbox="gallery">
            @foreach (var category in Model)
            {
                <div class="col-md-4 col-sm-4" data-filter="type-1">                   
                    <div class="isotope_ctn bg-white">
                        <h6 class="text-bold text-primary">
                            @Html.ActionLink(category.categoryTitle, "AllSubcategories", "Category", new { id = category.categoryID }, null)</h6>
                        <p>
                            @category.categoryDescription
                        </p>
                    </div>                   
                </div>                
            }
        </div>
    </div>
</section>